
{% extends "base.html" %}
{% import "bootstrap/utils.html" as utils %}
{% block content %}
  <div class="container">
  {%- with messages = get_flashed_messages(with_categories=True) %}
  {%- if messages %}
    <div class="row">
      <div class="col-md-12">
        {{utils.flashed_messages(messages)}}
      </div>
    </div>
  {%- endif %}
  {%- endwith %}
    <div class="jumbotron">
      <h1>Welcome to Splitter</h1>
      <p>This application demonstrates AWS Rekognition against a receipt image. It splits receipts and allows easy itemization by person. It uses <a href="http://pythonhosted.org/Flask-Bootstrap">
      Flask-Bootstrap</a> to help make it look good.</p>
      <p>
        <a class="btn btn-lg btn-default" role="button"
           href="http://pythonhosted.org/Flask-Bootstrap" >Flask-Bootstrap Docs</a>
      </p>
    </div>
   </div>
{%- endblock %}
