{% extends "base.html" %}
{% block content %}
 
<div class="user-profile">
  <div class="page-header">
    <h2>receipts</h2>
  </div>
  <ul class=receipts>
  {% for receipt in receipts %}
    <li><h2>{{ receipt.receipt.date }}</h2>
    {{ receipt.receipt.price }}
    {{ receipt.receipt.s3_key }}
    {{ receipt.receipt.labels|safe }}
    {% if receipt.receipt.image_url %}
      <img src="{{ receipt.Receipt.img_filename }}" alt="{{ receipt.Receipt.img_filename }}" style="width:600px;height:450px;">
    }
    {% endif %}
  </li>
  {% else %}
    <li><em>Unbelievable. No receipts here so far</em></li>
  {% endfor %}
  </ul>
  </div>
</div>`
 
{% endblock %}