{% extends "base.html" %}
{% from "_form_macros.html" import render_field %}
 
{% block content %}
 
<div class="add-recipe">
  <div class="page-header">
    <h2>Add a New Receipt</h2>
  </div>
  <form action="{{ url_for('receipts.all_receipts') }}" method="post" enctype="multipart/form-data">
    {{ form.csrf_token }}
    <dl>
      {{ render_field(form.receipt_image, placeholder="Upload Receipt") }}
    </dl>
    <button class="btn btn-sm btn-success" type="submit">Add Receipt</button>
  </form>
</div>
 
{% endblock %}