{% extends "base.html" %}
{% import "bootstrap/utils.html" as utils %}

{% block content %}
<div class="container">
  {%- with messages = get_flashed_messages(with_categories=True) %}
    {%- if messages %}
      <div class="row">
        <div class="col-md-12">
          {{utils.flashed_messages(messages)}}
        </div>
      </div>
    {%- endif %}
  {%- endwith %}


  <div class="user-profile">
    <div class="page-header">
      <div class='btn-toolbar pull-right'>
        <button type='button' class='btn btn-primary' data-toggle="modal" data-target="#processReceiptModal"><span class="glyphicon glyphicon-cog"></span></button>
        <div class='btn-group'>
          <button type='button' onclick="location.href='{{ url_for('receipts.delete_receipt', receipt_id=receipt.id) }}';" class='btn btn-danger'><span class="glyphicon glyphicon-trash"></span></button>
        </div>
      </div>
      <h2>{{ receipt.img_filename }}</h2>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="processReceiptModal" tabindex="-1" role="dialog" aria-labelledby="modalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <div class='btn-toolbar pull-right'>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <h3 class="modal-title">Process Receipt</h3>
          </div>
          <form class="form form-horizontal" method=POST enctype="multipart/form-data" action="{{ url_for('receipts.receipt_detail', receipt_id=receipt.id) }}" role="form">
            {{ form.hidden_tag() }}
            <div class="modal-body">
              <div class="form-group">
                <label for="preprocess_type">{{ form.preprocess_type.label }}:</label>
                {{ form.preprocess_type }}
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Process</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- Receipt details -->
    <div class="row">
      <div class="col-md-3">
        <div class="panel panel-primary">
          <div class="panel-heading">Receipt ID</div>
          <div class="panel-body">{{ receipt.id }}</div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="panel panel-primary">
          <div class="panel-heading">Date</div>
        <div class="panel-body">{{ receipt.date if receipt.date else 'Not Processed'}}</div>
        </div>
      </div>
      <div class="col-md-3">
       <div class="panel panel-primary">
          <div class="panel-heading">Price</div>
          <div class="panel-body">{{ receipt.price if receipt.price else 'Not Processed' }}</div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="panel panel-primary">
          <div class="panel-heading">Is Public</div>
          {% if receipt.is_public %}
            <div class="panel-body">Public</div>
          {% else %}
            <div class="panel-body">Private</div>
          {% endif %}
        </div>
      </div>
    </div> <!-- end row -->

    <div class="row">
      <!-- Raw image text -->
      <div class="col-md-6">
        <div class="panel panel-primary">
          <div class="panel-heading">Receipt Image</div>
          <div class="panel-body">
            <img class="img-responsive" src="{{ url_for('receipts.img_link', receipt_id=receipt.id, _type='base') }}" alt="{{ receipt.img_localpath }}">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="panel panel-primary">
          <div class="panel-heading">Image Raw Text</div>
          <div class="panel-body">
            {% if receipt.raw_text %}
              {% for line in receipt.raw_text.splitlines() %}
                {{ line }}<br>
              {% endfor %}
            {% else %}
              Not Processed
            {% endif %}
          </div>
        </div>
      </div>
    </div> <!-- end row -->
  </div>
</div>
 
{% endblock %}